body {
  display: flex;
  justify-content: center;
}

.sliderDiv {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.sliderText {
  color: blue;
}
